body {
  background-image: url(image.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
}

.box img {
  height: 10px;
  width: 10px;

}

.box {
  width: 450px;
  background-color: black;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
p {
  text-align: justify;
}
